body,
html {
    height: 100%;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    color: #666;
}

li {
    display: inline;
}

li a:hover {
    background-color: #bf0603;
    color: black;
    transition: 500ms;
    font-weight: 400;
}



.mainNavbar {
    position: relative;
    padding: 10px;
}

.mainNavbar a {

    color: #bf0603;
    font-size: 1.25rem;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px;
}

.dimg1,
.dimg2,
.dimg3 {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dimg1 {
    background-image: url('images/deadpool.jpg');
    min-height: 100%;

}

.dimg2 {
    background-image: url('images/deadpool2.jpg');
    min-height: 400px;

}

.dimg3 {
    background-image: url('images/deadpool_2_hd.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-dark {
    background-image: linear-gradient(to right, black, #343a40);
    color: #8d0801;
}

.dtext {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #8d0801;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;

}

@media(max-width:568px) {

    .dimg1,
    .dimg2,
    .dimg3 {
        background-attachment: scroll;
    }
}

.dtext .border {
    /*background-image: linear-gradient(to right, black, #343a40);*/
    margin: 0;
    font-weight: 700;
    font-size: 4rem;
    color: #8d0801;
    text-transform: uppercase;
    text-align: left;
    align-items: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    letter-spacing: 5px;
}

.dtext .border.dpHead {
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.dtext .secondary {
    /*background-image: linear-gradient(to right, black, #343a40);*/
    color: #8d0801;
    padding: 20px;
    font-weight: 400;
}

.dtext .border.trans {
    background-color: transparent;
}

.dtext .footer {
    /*background-image: linear-gradient(to right, black, #343a40);*/
    color: #8d0801;
    padding: 20px;
    background-color: none;
}